<div class="scoreboard">
    <p class="scoreboard-title">🏆 Scoreboard</p>
    <p class="scoreboard-player scoreboard-player-x">Player X: <span class="scoreboard-player-total">{{playerXWins}} Wins</span> </p>
    <p class="scoreboard-player scoreboard-player-y">Player O: <span class="scoreboard-player-total">{{playerXWins}} Wins</span> </p>
    <p class="scoreboard-draws">Draws: {{draws}} Draws</p>
    <button class="scoreboard-restart-button" (click)="onRestartMatchClicked()">Restart Match</button>
</div>
